
<link rel="stylesheet"; href="clients/clients.css">


<div style="top: 0; right: 0; left: 0;">

	<section layout="column">

		<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
			<md-toolbar style="background-color: #1b325b">
				<h1 class="md-toolbar-tools">My Profile</h1>
			</md-toolbar>
			<md-content layout-padding ng-controller="LeftCtrl">
				<md-subheader class="md-sidebar"> Pick a view </md-subheader>
				<md-list-item class="md-3-line" ng-click="goToBillables()">
					My Billables
				</md-list-item>
				<md-list-item class="md-3-line" ng-click="goToClients()">
					My Clients
				</md-list-item>
				<md-list-item class="md-3-line" ng-click="goToProjects()">
					My Projects
				</md-list-item>
	      	</md-content>
	    </md-sidenav>

		<!-- <div ng-controller='BillablesCtrl'> -->
		<div>
			<md-content layout="row" layout-wrap layout-margin layout-align="center" >
				<!-- <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33"> -->
				<md-card flex="flex">
					<md-toolbar ng-controller='SideBarCtrl' style="background-color: #1b325b">
						<div class="md-toolbar-tools">
							<label class="label" for="clients">
								<h3 style="float: left;">Clients</h3>
							</label>
	          				
						</div>
	        		</md-toolbar>
	        		<md-card-content ng-controller='ClientsCtrl' flex="flex" >
	        			<table class="mdl-data-table mdl-js-data-table table-striped" id="clientsTable" style="width: 100%">
	        				<thead>
	        					<tr>
									<th class="mdl-data-table__header--sorted-ascending" style="color: #fff">Client ID</th>
									<th class="mdl-data-table__header--sorted-ascending" style="color: #fff">Client Name</th>
									<th class="mdl-data-table__header--sorted-ascending" style="color: #fff">Phone Number</th>
									<th class="mdl-data-table__header--sorted-ascending" style="color: #fff">Email Address</th>
									<th class="mdl-data-table__header--sorted-ascending" style="color: #fff">Physical Address</th>
									<th class="mdl-data-table__header--sorted-ascending" style="color: #fff">Number of Projects</th>
								</tr>
	        				</thead>
							<tbody>
								<tr ng-repeat="client in clients | filter:searchText" ng-click=editClient(client.id) style="border: none;">
									<td title="id"  sortable="'id'" style="border: none; height: 40px">{{client.id}}</td>
								    <td title="name"  sortable="'name'" style="border: none; height: 40px">{{client.name}}</td>
								    <td title="name"  sortable="'name'" style="border: none; height: 40px">{{client.phone_number}}</td>
								    <td title="name"  sortable="'name'" style="border: none; height: 40px">{{client.email}}</td>
								    <td title="name"  sortable="'name'" style="border: none; height: 40px">{{client.address}}</td>
								    <td title="cost"  sortable="'cost'" style="border: none; height: 40px">
								    	{{client.noOfProjects}}
								    	
								    		<span class="glyphicon glyphicon-trash" ng-click="deleteClient($event, client)" style="float: right;"></span>
								    	
								    </td>
								</tr>
							</tbody>
	        			</table>
	        			<!-- <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" id="show_client_form">
  							<i class="material-icons">Add client</i>
						</button> -->
						<!-- <div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center">
    						<button class="md-primary md-raised" ng-click="showCreateClientDialog($event)"  >
      							Add client
    						</button>
  						</div> -->
	        		</md-card-content>
	        		<md-card-options>
						<!-- <md-button class="md-accent" ng-click="showCreateClientDialog($event)"  >
	      							Add client
	    						</md-button> -->
	    				<div class="dialog-demo-content" layout="row" layout-align="center">
		        			<md-button ng-click="showCreateClientDialog($event)" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect md-accent" id="show_client_form">
		        				<md-tooltip>Add client</md-tooltip>
					            <i class="material-icons">add</i>
					        </md-button>
				        </div>
					</md-card-options>
				</md-card>
				
			</md-content>
			<h3></h3>
		</div>
	</section>
</div>
