
<link rel="stylesheet"; href="clients/clients.css">

<div style="top: 0; right: 0; left: 0;">

	<section layout="row" flex="">

		<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
			<md-toolbar style="background-color: #1b325b">
				<h1 class="md-toolbar-tools">My Profile</h1>
			</md-toolbar>
			<md-content layout-padding ng-controller="LeftCtrl">
				<md-subheader class="md-sidebar"> Pick a view </md-subheader>
				<md-list-item class="md-3-line" ng-click="goToBillables()">
					My Billables
				</md-list-item>
				<md-list-item class="md-3-line" ng-click="goToClients()">
					My Clients
				</md-list-item>
				<md-list-item class="md-3-line" ng-click="goToProjects()">
					My Projects
				</md-list-item>
	      	</md-content>
	    </md-sidenav>

		<!-- <div ng-controller='BillablesCtrl'> -->
		<div>
			<md-content layout="row" layout-align="space-around" layout-padding="layout-padding" class="login-form">
				<!-- <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33"> -->
				<md-card flex="flex">
					<md-toolbar ng-controller='SideBarCtrl' style="background-color: #1b325b">
						<div class="md-toolbar-tools">
							<label class="label" for="clients">
								<h3 style="float: left;">Clients</h3>
								<!-- <input ng-model="searchText" style="padding-right: 0px; "> -->
							</label>
							<!-- <md-button ng-click="toggleLeft()" ng-hide="isOpenLeft()" class="md-primary"> -->
								
	          				<!-- </md-button> -->
	          				
						</div>
	        		</md-toolbar>
	        		<md-card-content ng-controller='ClientsCtrl'>
	        			<table class="table-striped" id="clientsTable">
	        				<thead>
	        					<tr>
									<th>Client ID</th>
									<th>Client Name</th>
									<th>Number of Projects</th>
								</tr>
	        				</thead>
							<tbody>
								<tr ng-repeat="client in clients | filter:searchText" ng-click=editClient(client.id) style="border: none;">
									<td title="id"  sortable="'id'" style="border: none; height: 40px">{{client.id}}</td>
								    <td title="name"  sortable="'name'" style="border: none; height: 40px">{{client.name}}</td>
								    <td title="cost"  sortable="'cost'" style="border: none; height: 40px">
								    	{{client.noOfProjects}}
								    	<a ng-click=deleteBillable(billable) style="float: right;">
								    		<span class="glyphicon glyphicon-trash"></span>
								    	</a>
								    </td>
								</tr>
								<tr>
									<td>1</td>
									<td>client 1</td>
									<td>1</td>
								</tr>
							</tbody>
	        			</table>
	        			<!-- <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" id="show_client_form">
  							<i class="material-icons">Add client</i>
						</button> -->
						<button id="show_client_form" >Add client</button>
						<button ng-click="tester()">tester</button>
						<button ng-click="putClient(form)">put client test</button>
	        		</md-card-content>
				</md-card>
			</md-content>
			<h3></h3>
		</div>
	</section>
</div>


<!-- entry form css -->
<div id="includedContent"></div>