th {
	background: #1b325b;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}

.label {
	text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}

.md-sidebar, .md-3-line {
    font-family: 'Open Sans Condensed', sans-serif;
}

.md-toolbar-tools, button, #showBillableForm,
input[type="button"], 
input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #1b325b;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
button,
input[type="button"]:hover, 
input[type="submit"]:hover {
    background:linear-gradient(to bottom, #b64e26 5%, #b64e26 100%);
    background-color:#b64e26;
}
#showBillableForm {
	background-color:#1b325b
}
/*.table-striped > tbody > tr:nth-child(odd) > td {
	background-color: #1b325b;
}
.table-striped > tbody > tr:nth-child(even) > th {
   background-color: #1b325b;
}*/