<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<md-dialog ng-controller="ClientDialogCtrl" layout="column"   ng-cloak>
    <md-toolbar >
            <div class="md-toolbar-tools">
                <h2 style="text-transform: uppercase;font-family: 'Open Sans Condensed';">Create Client</h2>
            </div>
    </md-toolbar>
    <md-card>
        <md-content class="md-no-momentum" layout-align="space-around" layout-padding="layout-padding" style="width: 800px">
            
            <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->

                <label>Name</label>
                <md-icon class="material-icons">person</md-icon>
                <input ng-model="name" type="text">
            </md-input-container>
            <md-input-container class="md-block md-icon-float">
                <md-icon class="material-icons">local_phone</md-icon>
                <input ng-model="phone" type="text" placeholder="Phone Number">
            </md-input-container>

            <md-input-container class="md-block md-icon-float">
                <!-- Use floating placeholder instead of label -->
                <md-icon class="material-icons">email</md-icon>
                <input ng-model="email" type="email" placeholder="Email (required)" ng-required="true">
            </md-input-container>

            <md-input-container class="md-block md-icon-float">
                <md-icon class="material-icons" style="display:inline-block;">location_on</md-icon>
                <input ng-model="address" type="text" placeholder="Address" >
            </md-input-container>
        </md-content>
    </md-card>
    <md-dialog-actions>
        <md-button class='md-accent md-raised md-hue-2' ng-click='cancel()' md-autofocus>Cancel</md-button>
        <md-button class='md-accent md-raised md-hue-2' ng-click="putClient()">Add Client</md-button>
    </md-dialog-actions>
</md-dialog>
