<!-- <form name=>
	<label for="name">Name</label>
	<input type="text" name="name"></br>
	<label for="project">Project</label>
	<input type="text" name="project"></br>
	<label for="cost">Cost</label>
	<input type="text" name="cost"></br>
</form> -->
<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'> -->
<style type="text/css">
    .form-style-8{
        font-family: 'Open Sans Condensed', arial, sans;
        width: 500px;
        padding: 30px;
        background: #FFFFFF;
        margin: 50px auto;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

    }
    .form-style-8 h2{
        background: #1b325b;
        text-transform: uppercase;
        font-family: 'Open Sans Condensed', sans-serif;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 100;
        padding: 20px;
        margin: -30px -30px 30px -30px;
    }
    .form-style-8 input[type="text"],
    .form-style-8 input[type="date"],
    .form-style-8 input[type="datetime"],
    .form-style-8 input[type="email"],
    .form-style-8 input[type="number"],
    .form-style-8 input[type="search"],
    .form-style-8 input[type="time"],
    .form-style-8 input[type="url"],
    .form-style-8 input[type="password"],
    .form-style-8 textarea,
    .form-style-8 select 
    {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        display: block;
        width: 100%;
        padding: 7px;
        border: none;
        border-bottom: 1px solid #ddd;
        background: transparent;
        margin-bottom: 10px;
        /*font: 16px Arial, Helvetica, sans-serif;*/
        font-family: 'Open Sans Condensed', sans-serif;
        height: 45px;
    }
    .form-style-8 textarea{
        resize:none;
        overflow: hidden;
    }
    .form-style-8 button,
    .form-style-8 input[type="button"], 
    .form-style-8 input[type="submit"]{
        -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
        -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
        box-shadow: inset 0px 1px 0px 0px #45D6D6;
        background-color: #b64e26;
        border: 1px solid #27A0A0;
        display: inline-block;
        cursor: pointer;
        color: #FFFFFF;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 14px;
        padding: 8px 18px;
        text-decoration: none;
        text-transform: uppercase;
    }
    .form-style-8 button,
    .form-style-8 input[type="button"]:hover, 
    .form-style-8 input[type="submit"]:hover {
        background:linear-gradient(to bottom, #b64e26 5%, #b64e26 100%);
        background-color:#b64e26;
    }
    #divOnTop {
        position:absolute;
        z-index: 1000;
    }
</style>

<style type="text/css">
    .switchdemoBasicUsage .inset {
      padding-left: 25px;
      padding-top: 25px;
    }
</style>

<script type="text/javascript">
    //auto expand textarea
    function adjust_textarea(h) {
        h.style.height = "20px";
        h.style.height = (h.scrollHeight)+"px";
    }

    $('#cancelBillable').click(function(){
        $('#divOnTop').fadeOut(500)
    })
</script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<div id="divOnTop" style="display: none; top: 0; right: 0; left: 0;">
    <div ng-controller='BillablesCtrl'>
        <section layout="row" flex="">
            
            <md-content>
            <div class="form-style-8">
                <div>
                    <h2>Register Billable <a id="cancelBillable" style="float: right;">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a></h2>
                </div>
                <form name="putForm">
                    <!-- <input type="text" name="name" placeholder="name" /> -->
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="sample3" name="name">
                        <label class="mdl-textfield__label" for="sample3">name...</label>
                    </div>
                    <!-- <input type="text" name="project" placeholder="project id" /> -->
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fullwidth">
                        <input class="mdl-textfield__input" type="text" id="sample2" name="project" readonly tabIndex="-1">
                        <!-- <label for="sample2">
                            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                        </label> -->
                        <label for="sample2" class="mdl-textfield__label">project id...<i class="mdl-icon-toggle__label material-icons" style="float: right;">keyboard_arrow_down</i></label>
                        <ul for="sample2" class="mdl-menu mdl-menu--bottom-left mdl-js-menu" >
                            <li class="mdl-menu__item" data-val="DE">Germany</li>
                            <li class="mdl-menu__item" data-val="BY">Belarus</li>
                            <li class="mdl-menu__item" data-val="RU">Russia</li>
                        </ul>
                    </div>
                    <!-- <input type="number" min="0.00" step="100" name="cost" placeholder="cost"/> -->
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="number" min="0.00" step="100" id="sample3" name="cost">
                        <label class="mdl-textfield__label" for="sample3">cost...</label>
                    </div>
                    <!-- <input type="text" name="developer" placeholder="developer" /> -->
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="sample3" name="developer">
                        <label class="mdl-textfield__label" for="sample3">developer...</label>
                    </div>
                    <!-- <textarea placeholder="description" onkeyup="adjust_textarea(this)"></textarea> -->
                    <div class="mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" type="text" rows= "3" id="sample5" onkeyup="adjust_textarea(this)" ></textarea>
                        <label class="mdl-textfield__label" for="sample5">description...</label>
                    </div>
                    <!-- <md-switch class="inset" ng-model="recurrent" name="recurrent" aria-label="recurrent" ng-true-value="'yup'" ng-false-value="'nope'" class="md-warn">
                        bill recurrent? (md-warn): {{ recurrent }}
                    </md-switch> -->
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
                        <span class="mdl-switch__label">bill recurrent?</span>
                        <input type="checkbox" id="switch-1" class="mdl-switch__input" checked style="float: right;" name="recurring">
                    </label>
                    <button ng-click="putBillable(putForm)">Add Billable</button>
                    <button ng-click="tester()">tester</button>
                </form>
            </div>
            </md-content>
        </section>
    </div>
</div>