

<md-dialog ng-controller=DevDialogCtrl>
	<md-toolbar class="md-default">
		<div layout='row'>
			<h4 style="text-transform: uppercase;font-family: 'Open Sans Condensed';">Offset Bill</h4>	
		</div>
		
	</md-toolbar>
	<md-card layout='row'>
		<md-input-container class="md-block md-icon-float">
            <md-icon class="material-icons">local_atm</md-icon>
            <input ng-model="cost" type="number" min="0.00" value="5000" placeholder="amount...">
        </md-input-container>
        <md-input-container class="md-block md-icon-float">
            <md-icon class="material-icons">comment</md-icon>
            <textarea ng-model="description" placeholder="comment..." onkeyup="adjust_textarea(this)"></textarea>
        </md-input-container>

	</md-card>
	
	<md-dialog-actions layout="row">
		<md-button class="addfields" ng-click="cancel()">
			Cancel
		</md-button>
		<md-button class="addfields" ng-click="addNewChoice()">
			Offset Bill
		</md-button>
	</md-dialog-actions>
</md-dialog>