

<md-dialog ng-controller=BillableDialogCtrl>
	<md-toolbar class="md-default">
		<div layout='row'>
			<h4 style="text-transform: uppercase;font-family: 'Open Sans Condensed';">Offset Bill</h4>	
		</div>
		
	</md-toolbar>
	<md-card layout='row'>
		<md-input-container class="md-block md-icon-float">
            <md-icon class="material-icons md-accent md-hue-1">local_atm</md-icon>
            <input ng-model="amount" type="number" min="0.00" placeholder="amount...">
        </md-input-container>
        <md-input-container class="md-block md-icon-float">
            <md-icon class="material-icons md-accent md-hue-1">comment</md-icon>
            <textarea ng-model="comment" placeholder="comment..." onkeyup="adjust_textarea(this)"></textarea>
        </md-input-container>

	</md-card>
	
	<md-dialog-actions layout="row">
		<md-button class=" md-accent md-raised md-hue-2" ng-click="cancel()" md-autofocus>
			Cancel
		</md-button>
		<md-button class=" md-accent md-raised md-hue-2" ng-click="recordPayment()">
			Record Payment
		</md-button>
	</md-dialog-actions>
</md-dialog>