
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<!-- <script type="text/javascript">
    //auto expand textarea
    function adjust_textarea(h) {
        h.style.height = "20px";
        h.style.height = (h.scrollHeight)+"px";
    }
</script> -->

<md-dialog ng-controller="ProjectDialogCtrl" layout="column"   ng-cloak>
    <md-content class="md-no-momentum" style="width: 800px">
        <md-toolbar >
            <div class="md-toolbar-tools">
                <h2 style="text-transform: uppercase;font-family: 'Open Sans Condensed';">Register Project</h2>
            </div>
        </md-toolbar>
        <md-card layout-align="space-around" layout-padding="layout-padding">
        <div layout='row'>
            <md-input-container class="md-icon-float md-block" flex>
                <!-- Use floating label instead of placeholder -->
                <label>name...</label>
                <md-icon class="material-icons">format_quote</md-icon>
                <input ng-model="project.name" type="text">
            </md-input-container>
            <md-input-container class="md-block md-icon-float" flex>
                <md-icon class="material-icons">person</md-icon>
                <!-- <input ng-model="client" type="text" placeholder="client..."> -->
                <md-select ng-model="project.client" placeholder="client...">
                    <md-option ng-repeat="client in clients" value={{client.id}}>{{client.name}}</md-option>
                </md-select>
            </md-input-container>
        </div>

        <div layout="row" flex=''>

            <md-input-container class="md-block md-icon-float" flex=''>
                <md-icon class="material-icons">person</md-icon>
                <!-- <input ng-model="lead" type="text" placeholder="lead developer..."> -->
                <md-select ng-model="project.lead" placeholder="lead..." class="md-no-underline">
                    <md-option ng-repeat="lead in leads" value={{lead.id}}>{{lead.username}} (id:{{lead.id}})</md-option>
                </md-select>
            </md-input-container>
            <!-- <div flex> -->
            <md-input-container flex=''>
                <!-- <label>start date...</label> -->
                <md-datepicker ng-model="project.start_date" placeholder='start date...' class='md-accent md-raised'></md-datepicker>
            <!-- </div> -->
            </md-input-container>
        </div>

        <!-- <md-input-container>
            <md-option ng-repeat="lead in ctrl.states" ng-value="state.abbrev">
                
            </md-option>
        </md-input-container> -->

        <md-input-container class="md-block md-icon-float">
            <md-icon class="material-icons">description</md-icon>
            <textarea ng-model="project.description" placeholder="description..." onkeyup="adjust_textarea(this)"></textarea>
        </md-input-container>
        </md-card>
    </md-content>
    <md-dialog-actions>
        <md-button ng-click='cancel()' class="md-accent md-raised md-hue-3" md-autofocus>
            Cancel
        </md-button>
        <md-button ng-click='putProject()' class="md-accent md-raised md-hue-3" id="show_project_form">
            Add Project
        </md-button>
    </md-dialog-actions>

    
</md-dialog>