<link rel="stylesheet"; href="projects/projects.css">

<style type="text/css">
	table#billablesTable tr td a.button { display:none;}
  	table#billablesTable tr:hover td a.button { display:inline-block;}
	/*span.glyphicon {
		position: absolute;
		right: -15px;
		top: 15px
	}*/
</style>

<div style="top: 0; right: 0; left: 0;">

	<section layout="column" flex="">

		<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
			<md-toolbar style="background-color: #1b325b">
				<h1 class="md-toolbar-tools">My Profile</h1>
			</md-toolbar>
			<md-content layout-padding ng-controller="LeftCtrl">
				<md-subheader class="md-sidebar"> Pick a view </md-subheader>
				<md-list-item class="md-3-line" ng-click="goToBillables()">
					My Billables
				</md-list-item>
				<md-list-item class="md-3-line" ng-click="goToClients()">
					My Clients
				</md-list-item>
				<md-list-item class="md-3-line" ng-click="goToProjects()">
					My Projects
				</md-list-item>
	      	</md-content>
	    </md-sidenav>

	    <div ng-controller='ProjectCtrl' ng-cloak>
		  	<md-content>
			  	<md-card flex="flex" style="margin-bottom: 0px; background-color: #274882">
					<h5 class="md-primary" style="line-height: 10px;color: #fff;">{{ project_name }}</h5>
					<div layout='row' >
		        		
					</div>
	        		
				</md-card>
				<md-card style="margin-top: 0px">
		    		<md-tabs md-dynamic-height md-border-bottom>
		      			<md-tab label="Developers">
		        			<md-content class="md-padding" md-theme="darkBlue" style="padding-left: 0px; padding-top: 0px">
			        			<md-card-content style="padding-left: 0px; padding-top: 0px">
				        			<table show-filter="true" style="width: 100%" md-table md-row-select multiple md-progress="promise" id="developersTable">
				        				<thead md-head>
				        					<tr>
											    <th md-column style="color: #fff">Name</th>
											    <th md-column style="color: #fff">Role</th>
											    <th md-column style="color: #fff">Duration spent on project (days)</th>
											    <th md-column style="color: #fff">Total Developer Cost</th>
										  	</tr>
				        				</thead>
										<tbody>
											<tr ng-repeat="developer in developers" style="line-height: 40px">
										        <td title="'Name'"  sortable="'name'">{{developer.username}}</td>
										        <td >{{ developer.role }}</td>
										        <td title="'days_worked'" >{{developer.daysWorked}}</td>
										        <td > {{developer.compensation }}
										        	
										        </td>
										        <td>
										        	<span ng-click="removeDeveloper($event, developer)" class="glyphicon glyphicon-remove" style="float: right;"><md-tooltip md-direction="bottom">Remove Developer</md-tooltip></span>
										        </td>
										    </tr>
										</tbody>
				        			</table>
				        			<md-table-pagination style='color: #757575' md-limit="5" md-limit-options="[5, 10, 15]" md-page="1" md-total="{{developers.length}}" md-on-paginate="" md-page-select></md-table-pagination>								
	        					</md-card-content>
	        					<p style="font-style: italic;">Grand total programmer cost: {{grandTotalDevCost}}</p>
	        					<md-card-actions>
	        						<div class="dialog-demo-content" layout="row" layout-align="center">
					        			<md-button ng-click="showAddDevToProjDialog()" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect md-accent" id="show_project_form">
					        				<md-tooltip>Add Developer</md-tooltip>
								            <i class="material-icons">add</i>
								        </md-button>
							        </div>
	        					</md-card-actions>
	        					
		        			</md-content>
		      			</md-tab>
		      			<md-tab label="Billables">
					        <md-content class="md-padding" md-theme="darkBlue" style="padding-left: 0px; padding-top: 0px">
					        	<md-card-content style="padding: 0px">
					        		<md-table-container >
										<table md-table md-row-select multiple ng-model="selected" md-progress="promise" id="billablesTable">
											<thead md-head>
												<tr>
													<th md-column style="color: #FFF">Billable Name</th>
													<th md-column style="color: #FFF">Registration Date</th>
													<th md-column style="color: #FFF">Description</th>
													<th md-column style="color: #FFF">Unit Cost</th>
													<th md-column style="color: #FFF">Recurring ?</th>
													<th md-column style="color: #FFF">Final Cost</th>
													<th md-column style="color: #FFF">Amount Cleared</th>
												</tr>
											</thead>
											<tbody md-body>
												<tr md-row md-select="billable" md-select-id='bill' md-auto-select ng-repeat="billable in billables">
													<td filter="{ name: 'text'}" sortable="'name'">
											        	{{billable.name}}
											        </td>
												    <td title='reg_date'> {{billable.reg_date}} </td>
												    <td title="description"> {{billable.description}} </td>
												    <td > {{billable.cost}} </td>
											        <td title='recurring'> {{billable.recurring}} </td>
										
											        
											        <td > {{billable.cost}} </td>
											        <td > {{billable.cost}}
											        	<a class="button" ng-click="deleteBillable($event, billable)" style="float: right;">
											        		<md-tooltip md-direction="bottom">Remove Bill</md-tooltip>
												            <i class="material-icons">delete</i>
											        	</a>
											        	<a class="button" ng-click="offsetBillable($event, billable)" style="float: right;">
											        		<md-tooltip md-direction="bottom">Offset Bill</md-tooltip>
												            <i class="material-icons">local_atm</i>
											        	</a>
											       
											        </td>
												</tr>
											</tbody>
										</table>
									</md-table-container>
									<span style='background-color: #753515'><md-table-pagination style='color: #757575' md-limit="5" md-limit-options="[5, 10, 15]" md-page="1" md-total="{{billables.length}}" md-on-paginate="" md-page-select></md-table-pagination></span>	
									<p style="font-style: italic;">Billables Grand total cost: {{total_billable_cost}}</p>
					        	</md-card-content>
					        	<md-card-actions >
				        			<div class="dialog-demo-content" layout="row" layout-align="center">
					        			<md-button ng-click="showCreateBillableDialog()" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect md-accent" >
					        				<md-tooltip>Add Billable</md-tooltip>
								            <i class="material-icons">add</i>
								        </md-button>
							        </div>
				        		</md-card-actions>
					        </md-content>
					    </md-tab>
		    		</md-tabs>
		    	</md-card>
		  	</md-content>
		</div>

		<!-- <div ng-controller='BillablesCtrl'> -->
		<div ng-controller='ProjectCtrl'>
			<md-content layout="row" layout-align="space-around" layout-padding="layout-padding">
				<!-- <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33"> -->
				
			</md-content>
			<h3></h3>
		</div>
	</section>
</div>