
<link rel="stylesheet"; href="projects/projects.css">

<div style="top: 0; right: 0; left: 0;">

	<section layout="column" flex="">

		<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
			<md-toolbar style="background-color: #1b325b">
				<h1 class="md-toolbar-tools">My Profile</h1>
			</md-toolbar>
			<md-content layout-padding ng-controller="LeftCtrl">
				<md-subheader class="md-sidebar"> Pick a view </md-subheader>
				<md-list-item class="md-3-line" ng-click="goToBillables()">
					My Billables
				</md-list-item>
				<md-list-item class="md-3-line" ng-click="goToClients()">
					My Clients
				</md-list-item>
				<md-list-item class="md-3-line" ng-click="goToProjects()">
					My Projects
				</md-list-item>
	      	</md-content>
	    </md-sidenav>

		<!-- <div ng-controller='BillablesCtrl'> -->
		<div>
			<md-content layout="row" layout-align="space-around" layout-padding="layout-padding">
				<!-- <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33"> -->
				<md-card flex="flex">
					<md-toolbar ng-controller='SideBarCtrl' style="background-color: #1b325b">
						<div class="md-toolbar-tools">
							<label class="label" for="projects">
								<h3 style="float: left;">Projects</h3>
							</label>
	          				
						</div>
	        		</md-toolbar>

	        		<md-card-content ng-controller='ProjectsCtrl'>
	        			<table class="mdl-data-table mdl-js-data-table table-striped" id="projectsTable" show-filter="true" style="width: 100%">
	        				<thead>
	        					<tr>
									<th class="mdl-data-table__header--sorted-ascending" style="color: #fff">Project ID</th>
									<th class="mdl-data-table__header--sorted-ascending" style="color: #fff">Project Name</th>
									<th class="mdl-data-table__header--sorted-ascending" style="color: #fff">Project Start-date</th>
									<!-- <th class="mdl-data-table__header--sorted-ascending" style="color: #fff">delete</th> -->
								</tr>
	        				</thead>
							<tbody>
								
								<tr ng-repeat="project in projects | filter:searchText" ng-click=viewProject(project.id) style="border: none;">
									<td title="id"  sortable="'id'" style="border: none; height: 40px">{{project.id}}</td>
								    <td title="name"  sortable="'name'" style="border: none; height: 40px">{{project.name}}</td>
								    <td title="start_date"  sortable="'name'" style="border: none; height: 40px">{{project.start_date}}</td>
								</tr>
							</tbody>
	        			</table>
	        			<div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center">
	        				<button ng-click="showCreateProjectDialog()">Add project</button>
	        			</div>
	        		</md-card-content>
				</md-card>
			</md-content>
			<h3></h3>
		</div>
	</section>
</div>


<!-- entry form css -->
<div id="includedContent"></div>

