<style type="text/css">
	.md-table-pagination .label {
		color: rgba(0, 0, 0, 87%) !important;
	}
</style>

<md-dialog ng-controller=DevDialogCtrl flex='80'>
	<md-toolbar class="md-table-toolbar md-default">
		<div class="md-toolbar-tools">
			<span>Select Developers to add to Project</span>
			<span class="glyphicons glyphicons-remove"></span>
			<!-- <span flex=''></span>

			<div class="md-accent">
				<i class="material-icons ">clear</i>


			</div> -->
								
		</div>			
	</md-toolbar>
	<md-table-container >
		<label>Developers yet to be assigned to this project</label>
		<table md-table md-row-select multiple ng-model="selected" md-progress="promise">
			<thead md-head>
				<tr md-row>
					<th md-column style="color: #FFF"><span>ID</span></th>
					<th md-column style="color: #FFF"><span>Username</span></th>
					<th md-column style="color: #FFF">Role</th>
				</tr>
			</thead>
			<tbody md-body>
				<tr md-row md-select="unassignedDev" md-select-id='dev' md-auto-select ng-repeat="unassignedDev in unassignedDevs">
					<td md-cell>{{unassignedDev.id}}</td>
					<td md-cell>{{ unassignedDev.username }}</td>
					<td md-cell  ng-click="assignRole($event, developer)" ng-class="{'md-placeholder': !developer.role}">{{ developer.role || 'Click here to assign role' }}</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>
	<md-table-pagination md-limit="5" md-limit-options="[5, 10, 15]" md-page="1" md-total="{{unassignedDevs.length}}" md-on-paginate="" md-page-select></md-table-pagination>
	<md-dialog-actions layout="row">
		<md-button class="md-accent md-raised md-hue-3" ng-click="cancel()" md-autofocus>
			Cancel
		</md-button>
		<md-button class="md-accent md-raised md-hue-3" ng-click="addDevelopers()">
			Add Selected Developers
		</md-button>
	</md-dialog-actions>
</md-dialog>


<!-- <md-dialog ng-controller=DevDialogCtrl flex='75'>
	<mdt-table >
	    <mdt-header-row>
	    	<mdt-column align-rule="left">Username</mdt-column>
	      	<mdt-column align-rule="right">Role</mdt-column>
	      	<mdt-column align-rule="right">Lead</mdt-column>
	      	<mdt-column align-rule="right">Number of projects currently working on</mdt-column>
	    </mdt-header-row>
	    <mdt-row ng-repeat="nutrition in nutritionList">
	      	<mdt-cell>{{unassigneDev.username}}</mdt-cell>
	      	<mdt-cell 
	                editable-field="smallEditDialog"
	                editable-field-max-length="25">{{unassigneDev.username}}</mdt-cell>
	      	<mdt-cell>yes</mdt-cell>
	      	<mdt-cell>2</mdt-cell>
	    </mdt-row>
	</mdt-table>
</md-dialog> -->

